.img1 {
    background-image: url(../img/공모전1.jpg);
    background-size: 100%;
    width: 300px;
    height: 420px;
    background-repeat: no-repeat;
    border: solid 1px #747474;
    cursor: pointer;
    transition: 0.3s;
}

.competition_main>div:hover .img_box,
.competition_main>div:hover p {
    opacity: 1;
}

.competition_main>div:hover .img1,
.competition_main>div:hover .img2,
.competition_main>div:hover .img3 {
    width: 310px;
    height: 420px;
    background-size: 100%;
}


.img2 {
    background-image: url(../img//공모전2.png);
    background-size: 100%;
    width: 300px;
    height: 420px;
    background-repeat: no-repeat;
    border: solid 1px #747474;
    cursor: pointer;
    transition: 0.3s;
}

.img3 {
    background-image: url(../img/공모전3.png);
    background-size: 100%;
    width: 300px;
    height: 420px;
    background-repeat: no-repeat;
    border: solid 1px #747474;
    cursor: pointer;
    transition: 0.3s;
}

#first {
    background-color: #7a81eb;
    color: white;
}

#one {
    color: #7a81eb;
}

.Hot_competition {
    display: flex;
    align-items: baseline;
    margin-left: 100px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 50px;
}

.Hot_competition>i {
    font-size: 300%;
    color: #4AD395;
    margin-right: 10px;
}

.Top_competition {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

.Top_competition>div {
    border: solid 1px #747474;
    padding: 20px 94.5px 20px 94.5px;
    color: #747474;
    font-size: larger;
}

.competition_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.competition_arrow,
.Top_competition>div,
.contestName_content {
    cursor: pointer;
}

.competition_arrow:hover {
    color: #430094;
}

table {
    border: solid 1px;
    margin-left: 7.85vw;
    width: 83.2vw;
    margin-top: 30px;
}

tr {
    display: flex;
}

#deadline {
    color: red;
    border-color: black;
}

#schedule {
    color: #4AD395;
    border-color: black;
}

#ongoing {
    color: #7a81eb;
    border-color: black;
}

.competition_content {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 43vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.competition_content_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.competition_content,
.competition_content_main {
    opacity: 0;
    color: white;
    position: relative;
    transition: 0.3s;
}

.img_box {
    opacity: 0;
    background-color: #4AD395;
    height: 13.7vh;
    transition: 0.3s;
}

.contestName,
.contestPeriod,
.contestCircumstances,
.contestSituation,
.hits {
    color: black;
    font-weight: 500;
}

.contestName,
.contestPeriod,
.contestCircumstances,
.contestSituation,
.contestName_content,
.contestPeriod_content,
.contestCircumstances_content,
.contestSituation_content {
    border-right: solid 1px;
}

.contestSituation,
.contestCircumstances,
.hits {
    width: 8vw;
    padding: 20px 0px 20px 0px;
}

.contestName {
    width: 39vw;
    padding: 20px 0px 20px 0px;
}

.contestName_content {
    width: 39vw;
    border-top: solid 1px;
    padding: 30px 0px 30px 0px;
    color: black;
    font-weight: bold;
}

.contestPeriod {
    width: 20vw;
    padding: 20px 0px 20px 0px;
}

.contestPeriod_content {
    width: 20vw;
    border-top: solid 1px;
    padding: 30px 0px 30px 0px;
    color: #747474;
}

.contestSituation_content,
.contestCircumstances_content,
.hits_content {
    width: 8vw;
    border-top: solid 1px;
    padding: 30px 0px 30px 0px;
    color: #747474;
}

.Bottom_competition {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bottom_competition>div {
    display: flex;
}

.Bottom_competition>div>p,
.arrow {
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin: 10px;
}