.competitionMatching_mybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.competitionMatching_my,
.competitionMatching_aibox,
.competitionMatching_userbox {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #747474;
    margin-bottom: 2%;
}

.competitionMatching_my>div,
.competitionMatching_aibox>p,
.competitionMatching_userbox>p {
    font-size: x-large;
}

.competitionMatching_aibox>p>i {
    font-size: small;
    color: #747474;
    opacity: 0.4;
    font-style: normal;
}

.competitionMatching_box {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #4AD395;
    color: white;
    padding: 15px;
}

.competitionMatching_aibox_content {
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4AD395;
    color: white;
    padding: 15px;
}

#competitionMatching_myimg{
    width: 5%;
}

.competitionMatching_box_user>img {
    width: 10%;
}

.competitionMatching_box_user,
.competitionMatching_box_content>div {
    display: flex;
    align-items: center;
}

.competitionMatching_aibox_content_select {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-left: solid 1px white;
}