.UserModify_Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;
}

.UserModify_Form {
    width: 600px;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;
    border: solid 1px #4AD395;
    margin-top: 50px;
    font-size: large;
    color: #747474;
    font-weight: 500;
}

.UserModify_Form_dbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.UserModify_Form_Main {
    display: flex;
    align-items: center;
}

.UserModify_Form_dbox>input {
    font-size: large;
    width: 230px;
}

.UserModify_Form_id {
    margin-top: 8%;
}

.UserModify_Form_pw {
    margin-top: 15%;
}

.UserModify_Form_name,
.UserModify_Form_email,
.UserModify_Form_phone {
    margin-top: 14%;
}

.UserModify_Form_list{
    margin-bottom: 5%;
}

.UserModify_Form_gender{
    margin-bottom: 15%;
}


.userModify_button_box {
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.userModify_button_box>button {
    width: 200px;
    background-color: #4AD395;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}